@{
    ViewData["Title"] = "Home Page";
}

<h1>Danh Sách Phiếu Nhập</h1>
<table id="dataTable" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ngày Tạo</th>
            <th>Số Phiếu Nhập</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function loadData() {
                $.ajax({
                    url: '/HH_PhieuNhap/Read',
                    type: 'POST',
                    success: function (data) {
                        var rows = '';
                        data.forEach(function (item) {
                            var date = new Date(item.ngayTao);
                            var formattedDate = date.toLocaleDateString();
                            rows += '<tr>' +
                                '<td>' + item.id + '</td>' +
                                '<td>' + formattedDate + '</td>' +
                                '<td>' + item.soPhieuNhap + '</td>' +
                                '<td>' + item.ghiChu + '</td>' +

                            '</tr>';
                        });
                        $("#dataTable tbody").html(rows);
                    },
                });
            }
            loadData();
        });
    </script>
}
   
